section{
	background: #F5F6FA;
	box-sizing: border-box;
	padding: 0 0.24rem;
}
.daohang{
	width: 100%;
	font-size: 0.22rem;
	line-height: 0.82rem;
	font-weight: bold;
	color: #494747;
}
.daohang>a{
	color:#494747 ;
}
.box{
	width: 100%;
	background: white;
	box-sizing: border-box;
	padding: 0.2rem;
	overflow: hidden;
}
.gai{
	width: 100%;
}
.gai>span{
	display: inline-block;
}
.gai>span:nth-child(1){
	width: 0.04rem;
	height: 0.2rem;
	background: #01B5FF;
	margin-right: 0.1rem;
}
.gai>span:nth-child(2){
	font-size: 0.24rem;
	width: 6.3rem;
	box-sizing: border-box;
	padding-bottom: 0.1rem;
	font-weight: bold;
	color: #494747;
	border-bottom: 1px dashed black;
}
.jiaohu{
	width: 100%;
	position: relative;
	box-sizing: border-box;
	padding-left: 0.19rem;
}
.jiaohu>p{
	text-align: left;
	font-size: 0.22rem;
	line-height: 0.34rem;
	font-weight: bold;
	color: #686868;
	padding-top: 0.1rem;
}
.box:nth-child(3){
	margin-top: 0.1rem;
}
.wenhua{
	width: 100%;
	background: white;
	overflow: hidden;
	box-sizing: border-box;
	padding-top: 0.1rem;
	padding-left: 0.8rem;
	padding-bottom: 0.4rem;
}
.wenhua>img{
	float: left;
	margin-right: 0.55rem;
	width: 1.33rem;
}
.box:nth-child(5){
	margin-top: 0.1rem;
}
.box:nth-child(6){
	margin-top: 0.1rem;
}
.box:nth-child(7){
	margin-top: 0.1rem;
}
.tu{
	width: 100%;
	text-align: center;
	padding-top: 0.3rem;
}
.tu>img{
	width: 1.68rem;
}
footer{
	background: #F5F6FA;
	text-align: center;
	font-size: 0.2rem;
	color: #666666;
}